// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.category {
  margin-top: 100px;
  border: solid 3px darkblue;
  background-color: paleturquoise;
  margin-left: 100px;
  overflow: hidden;
}

.category-catalog {
  margin-left: 20px;
}

.category-content {
  padding: 18px;
  margin-top: 10px;
}

.itemNot {
  margin-left: 150px;
  margin-top: 50px;
  font-family: "Source Code Pro", Monaco, monospace;
}
