// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item {
  margin-top: 100px;
  border: solid 3px darkblue;
  width: 350px;
  background-color: paleturquoise;
  margin-left: 80px;
  overflow: hidden;
}

.item-catalog {
  margin-left: 15px;
}

.item-content {

  padding: 15px;
  margin-top: 10px;
}